svg, canvas {
  position: absolute;
  image-rendering: optimizeSpeed;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

html {
    font-size: 100%;
}

a svg, a span {
  vertical-align: middle;
  position: relative;
}

svg.editor {
  width: 100%;
  height: 100%;
  float: left;
  margin-right: -1px;
  margin-bottom: -1px;
}

.output.label, .input.label {
  display: none
}

.axis-label {
  font-size: 18px;
}

.axis .tick text {
  font-size: 14px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
    shape-rendering: crispEdges;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.grid path {
    stroke-width: 0;
    fill: none;
}



.axis .axis-label {
    user-select: none;
    fill: black;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.legend, .tick {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.line {
    fill: none;
    opacity: 1;
    stroke-width: 1.5px;
}

.line.highlight {
    opacity: 1;
    stroke-width: 4.5px !important;
}

.line.unhighlight {
    opacity: 0.2;
}

.dot {
    /* consider the stroke-width the mouse detect radius? */
    stroke: transparent;
    stroke-width: 10px;
}

.dot:hover {
    stroke: rgba(68, 127, 255, 0.3);
}

.dot.masked {
    stroke: red !important;
}

.mainview rect {
  fill: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

path.x-slice.lines {
  stroke-width: 5px !important;
}

path.x-slice.lines:hover {
  stroke-width: 8px !important;
}

rect.zoom {
  stroke: steelblue;
  fill-opacity: 0.5;
}

div.tooltip {
  position: absolute;
  text-align: left;
  /*width: 60px;*/
  /*height: 28px;*/
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  z-index: 20;
}

div.fields .subfield {
  padding-left: 1em;
}

.ui-layout-north {
  background-color: yellow;
}
#plotdiv {
  flex: 1;
  text-align: start;
  overflow: hidden;
}

#plot_title {
  min-height: 1em;
}
#plot_controls {
  min-height: 1em;
}
#controls {
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
}
.ui-layout-center {
  /* adding padding to hold controls, title */
  /*padding-bottom: 80px;*/
  height: 100%;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.jstree > ul > li > a > .jstree-checkbox {
  display: none !important;
}
    
/* styles for dataflow editor */

svg.editor g.module rect {
  stroke-width: 2px;
  stroke: blue;
  cursor: pointer;
  fill: white;
}

svg.editor g.module rect.title {
  fill-opacity: 0;
}


svg.editor rect.terminal.output {
    fill: #88FFFF;
}

svg.editor rect.terminal.input {
    fill: #88FF88;
}

svg.editor polygon.terminal.state {
    display: none;
}
    
    
svg.editor path.wire {
    fill: none;
    stroke-dasharray: 2,2;
    stroke-width: 5px;
    stroke: red;
}

svg.editor path.exposed-wire, svg.editor rect.exposed {
  display: none;
}

@keyframes offset {
  from {
    stroke-dashoffset: 20;
  }
  to {
    stroke-dashoffset: 0;
  }
}
    
svg.editor path.wire.filled {
    /*stroke-linecap: round;*/
    stroke-dasharray: none;
    /*animation: offset 1s linear forwards infinite;*/
    stroke: green;
}
    
svg.editor g.module g.selected rect {
    stroke-width: 5px;
}
    
    
svg.editor polygon.terminal.state.calculated {
    fill-opacity: 1.0;
}

svg.editor polygon.terminal.state.calculating {
    display: inline-block;
    position: relative;
    -webkit-animation-name: strobe; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: strobe;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
    
/* Chrome, Safari, Opera */
@-webkit-keyframes strobe {
    0%   {fill-opacity: 0;}
    100% {fill-opacity: 1.0;}
}


@keyframes strobe {
    0%   {fill-opacity: 0;}
    100% {fill-opacity: 1.0;}
}
    
#navigation .buttons .ui-icon {
    display: inline-block !important;
    vertical-align: middle;
}
#navigation .buttons .datasource {
    font-weight: bold;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
}
#dirbrowser { list-style-type: none; margin: 0; padding: 0; }
#dirbrowser li { margin: 3px; padding: 0em 0.4em; font-size: 1.2em; }

.patheditor { 
    color: blue;
    cursor: pointer;
}
li.subdiritem { 
    list-style-type: none; 
    cursor: pointer;
    color: blue;
}
li.fileitem {
    cursor: pointer;
    color: blue;
    text-decoration: none;
}

.popup {
    position: absolute;
    background-color: #fff;
    /*width: 200px;*/
    border: 1px #ccc solid;
    border-radius: 6px;
    box-shadow: #333 2px 2px 4px;
    font-family: arial, helvetica, sans-serif;
    margin: 5px 5px 2px 2px;
}
.popup ul, .popup ul ul {
    padding: 5px;
    list-style-type: none;
    margin: 0;
}

.popup ul ul li {
    padding-left: 5px;
}

.popup ul li {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 0px;
    margin-left: 0px;
    cursor: pointer;
}
.popup ul li:hover {
    background-color: LightGray;
}

.popup hr {
    margin: 0;
}

div.ui-dialog {
    width: 450px;
}

li.ui-menu-item {
    list-style-image: none !important;
}

li.ui-menu-item div.ui-menu-item-wrapper {
    padding-left: 3px;
}

ol.categories li.category {
    border: 2px solid grey;
    border-radius: 6px;
    margin-bottom: 4px;
    padding: 2px;
}

ol.categories li.category select {
    border-radius: 4px;
}

ol.categories span.category:nth-child(n+2):before {
    content: " : ";
}
