*.so
*.pyc
*.pyd
__pycache__
/build/
/dist/
/doc/_build/
/doc/dataflow/
/doc/reflred/
/doc/ospecred/
/doc/sansred/
/reflred/src/_rebin.cc
/reflred.egg-info/
/web_gui/config.py
/web_gui/git_version*
/dataflow/git_version*
