recursive-include reductus/dataflow *.json
recursive-include reductus/web_gui/webreduce *.json *.js *.mjs *.html *.css *.svg *.png *.ico
include reductus/git_revision
include reductus/**/templates/*.json
include reductus/**/*.csv
prune reductus/web_gui/webreduce/node_modules
