recursive-include dataflow *.json
recursive-include web_gui/webreduce *.js *.html *.css *.svg *.png
include dataflow/git_revision
include */templates/*.json
include */*.csv
prune web_gui/webreduce/node_modules/
