# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build wheel and client

on:
  push:
    branches: [ main ]
  workflow_dispatch:
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: initialize npm libs
      run: npm ci
      working-directory: web_gui/webreduce
    - name: build client
      working-directory: web_gui/webreduce
      run: |
        rm -rf dist
        npm run build --if-present
        cd dist && zip -r ../dist.zip .
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: build wheel
      run: |
        python -m pip install wheel
        python setup.py bdist_wheel
        echo "PYTHON_WHL=$(ls dist)" >> $GITHUB_ENV
    - name: Archive client artifact
      uses: actions/upload-artifact@v2
      with:
        name: dist
        path: web_gui/webreduce/dist
    - name: Archive wheel artifact
      uses: actions/upload-artifact@v2
      with:
        name: ${{ env.PYTHON_WHL }}
        path: dist
    - name: Update release
      if: ${{ github.ref_name == 'main' }}
      uses: johnwbyrd/update-release@v1.0.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        release: unstable
        tag: sid
        files: |
          web_gui/webreduce/dist.zip 
          dist/${{ env.PYTHON_WHL }}