# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ es6_modules ]
  workflow_dispatch:
  pull_request:
    branches: [ es6_modules ]

defaults:
  run:
    working-directory: web_gui/webreduce

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install -g parcel-bundler
    - run: npm ci
    - run: |
        rm -rf dist
        npm run build_index --if-present
        cd dist && zip -r ../dist.zip .
    - name: Archive production artifacts
      uses: actions/upload-artifact@v1
      with:
        name: dist
        path: web_gui/webreduce/dist
    - name: Update release
      uses: johnwbyrd/update-release@v1.0.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        release: unstable
        tag: sid
        files: web_gui/webreduce/dist.zip